[Desktop Entry]
Exec=/home/chronic/.local/bin/aqemu
Terminal=false
Type=Application
Icon=/home/chronic/.local/share/pixmaps/aqemu.png
StartupNotify=true
Categories=System;Emulator;

Name=AQEMU
Comment=Virtual machine manager
Name[ru]=AQEMU
Comment[ru]=Управление виртуальными машинами
